.sondageFlexContainer{
    width: 50%;
   
    line-height:100px;
    padding:0 20px;
    background-color: rgb(185, 107, 107);
    color: white;
    .sondageFieldsContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .sondageField{
            width: 45%;
            display: flex;
            justify-content: space-around;
        }
    }
   
}